.Item {
    cursor: pointer;

    .Image {
        display: block;
        overflow: hidden;
        width: 197px;
        height: 197px;

        img {
            width: 100%;
            height: auto;
        }
    }
}

.Title {
    display: block;
    /* font-weight: bold; */
    padding: 5px;
    font-size: 11pt;
    color: #4d4d4d;
    font-family: Avenir-Medium;
    padding: 12px 12px 6px 12px;
    margin:3px;
}

.Description {
    width: 100%;
    max-height: 100px;
    padding: 7px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin:3px;
}

.Location{
    display: block;
    padding: 5px;
    font-size: 11pt;
    color: #b2b2b2;
    font-family: Avenir-Medium;
    padding: 0 12px 12px 12px;
    margin:3px;
}


.Buttons {
    position: absolute;
    bottom: 0;
    left: 10px;
}

.ItemIconOptions{
    float: right;
    margin-right: 18px;
    bottom: 6px;
    position: relative;
}

.AccountDropDown{
    position: absolute;
    z-index: 8;
    bottom: -60px;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 12px;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.14);
    box-shadow: 0 2px 3px rgba(0,0,0,0.14);
}
.AccountDropDown ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

.AccountDropDown ul Button {
    width: 100%;
    margin: 0;
}
