.ImageUploadComponentHolder {
    height: 100%;
    width: 100%;
    display: inline-block;
}

.ImageThumb {
    width: 100%;
    border-radius: 4px;
}

.ImageThumb > div{
    width:325px;
    height:325px;
    display:inline-block;
    float:left;

}

.ImageThumb img ~ h5 {
    margin: 0;
}

.UploadImageButton {
    border: none;
    width: 49px;
    height: 44px;
    color: #ffffff;
    padding: 8px 20px;
    border-radius: 8px;
    fill: #ffffff;
}

.UploadImageButton ~ h5 {
    margin: 0;
}

.UploadImageButtonHolder {
    padding-top: 120px;
    float: left;
    height: 300px;
    width: 325px;
    left: 278px;
    box-sizing: border-box;
    display: inline-block;

    .UploadImageButtonHolderButton{
        cursor: pointer;
    }
}