body{
    background: #efefef;
    margin:0;
    padding:0;
    font-family: 'Avenir-Medium', sans-serif;
}

h1, h2, h3, h4 {
    margin: 7px 3px;
}

h1 {
    font-size: 20pt;
}

h2 {
    font-size: 16pt;
}

h3 {
    font-size: 14pt;
}

h4 {
    font-size: 12pt;
}

h5 {
    font-size: 11pt;
    font-family: 'Avenir-Medium', sans-serif;
}

p, span, label {
    margin: 3px;
    font-size: 11pt;
}

.windowContainer{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}


/** variables **/

$default-text-color: #777777;
$default-inout-border-color: #dddddd;
$default-label-color: #aaaaaa;
$default-placeholder-color: #dddddd;
$input-label-color: #666666

