.ItemShare {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: left;
    box-sizing: border-box;
    display: flex;

    .Image {
        width: 50%;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        box-sizing: border-box;

        img {
            top: -20%;
            width: 100%;
            height: 100%;
        }
    }

    .Title {
        max-width: 70%;
        display: block;
        font-weight: bold;
        padding: 0 0 0 4px;
        margin: 0 0 6px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .Request_Button {
        position: absolute;
        bottom: 112px;
        right: 24px;

        label {
            padding-right: 10px;
        }
    }




    .Item {
        width: 50%;
        height: 100%;
        box-sizing: border-box;
        padding: 24px;
    }


    .User {
        background-color: #fff;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        height: 100px;
        padding: 24px;
        box-sizing: border-box;
        border-bottom-right-radius: 10px;
    }

    .Username {
        position: absolute;
        top: 26px;
        left: 66px;
        color: grey;
    }

    .Reviews {
        position: absolute;
        top: 27px;
        right: 24px;
    }

    .Reviews label {
        margin:0;
    }

    .Description {
        width: 100%;
        max-height: 100px;
        padding: 7px 10px;
        /*white-space: nowrap;*/
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .Status {
        position: absolute;
        top: 29px;
        right: 24px;
    }

    .Status label {
        font-weight: bold;
    }

    .Status span {
        color: #3cbd85;
    }

    .Info {
        float: left;
        width: 100%;
        padding: 6px 4px;
        margin: 0;
        color: #404040;
        font-family: 'Avenir-Regular' , sans-serif;
    }

    .Info label {
        color: #b2b2b2;
        margin: 0;
    }
}

.Requests_Label{
    position: absolute;
    bottom: 120px;
    right: 132px;
}