.ImageThumbsHolder{
    width:100%;
    height:100%;
    min-height:300px;
    background-color: #444444;
}


.InputFormFooter{
    text-align:right;
}

@media (min-width: 600px) {
    .ShareNew {
        width: 500px;
    }

    .ImageThumb {
        width: auto;
        height: 325px;
        float:left;
    }

    /*.ImageThumb img {*/
        /*width: 100%;*/
        /*max-width: 320px;*/
    /*}*/
}