.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 80%;
    border: none;
    border-radius: 0 10px 10px 0;
    padding: 0;
    left: 10%;
    top: 30px;
    box-sizing: border-box;
}

@media (min-width: 600px) {
    .Modal {
        width: 80%;
        top: 60px;
    }
}