.MenuListItem{
    font-size: 11pt;
    width:100%;
    display: inline-block;
    cursor: pointer;
    font-family: 'Avenir-Book', sans-serif;
}

.MenuListItem span{
    font-size: 11pt;
    margin: 0;
}