<div *ngIf="this.selectedItem">
<p>
  {{this.selectedItem.title}}
</p>
<p>
  {{this.selectedItem.description}}
</p>
<p>
  {{this.selectedItem.category}}
</p>
<p>
  {{this.selectedItem.sub_category}}
</p>
</div>