<div class="users-container">
  <div class="users-left-content-container" [ngClass]="{split: userShow === true}">
    <table mat-table [dataSource]="dataSource" matSort
      class="mat-elevation-z8">

      <!-- username Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
        <td mat-cell *matCellDef="let user"><a (click)="onUserSelect(user)">{{user.local.username}}</a></td>
      </ng-container>

      <!-- email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Emailaddress</th>
        <td mat-cell *matCellDef="let user">{{user.local.email}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  <div class="users-right-content-container" [ngClass]="{split: userShow === true}">
    <app-user></app-user>
  </div>
</div>
