.users-container {
  overflow: hidden;

  table {
    width: 100%;
  }

  .mat-sort-header-container {
    align-items: center;
  }

  .users-left-content-container {
    float: left;
    width: 100%;

    &.split {
      width: 50%;
    }
  }

  .users-right-content-container {
    float: left;
    width: 0;

    &.split {
      width: 50%;
    }
  }
}


