@import 'variables';

@mixin button-radius($border-radius){
  border-radius: $border-radius;
}

.a-button{
  @include button-radius($button-border-radius-default);

  &.form{
    background-color: $button-background-color;
    color: $button-text-color;
  }
}
