// 0. general style

$secondary-color-default: #3F94EA;
$secondary-text-color-default: #ffffff;


// 1. buttons

$button-border-radius-default: 4px !default;
$button-background-color: $secondary-color-default;
$button-text-color: $secondary-text-color-default;

$card-border-radius-default: 8px !default;