<mat-toolbar class="mat-primary header-container">
  <ul class="main-menu-list">
    <li><button mat-button routerLink="/users" disableRipple class="a-button">Users</button></li>
    <li><button mat-button routerLink="/items" disableRipple class="a-button">Items</button></li>
    <li><button mat-button disableRipple class="a-button" (click)="onLogOut()">Sign Out</button></li>
  </ul>

</mat-toolbar>
