@import '../../../assets/style/aButton';

.header-container{
  margin: 0;
  width: 100%;
  height: 60px;
  padding: 12px 24px;
  display: flex;
  flex-direction: row-reverse;
}

.main-menu-list{
  list-style: none;
  padding: 0;
  margin: 0;

  li{
    display: inline;
    margin : 12px;
  }
}