.Overview {
    width: 100%;
    box-sizing: border-box;
}

.Overview ul {
    list-style: none;
}

.Overview ul li {
    position: relative;
    float: left;
    width: 100%;
    height: 500px;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.05);
    border: none;
    margin: 35px 30px;
    padding: 0;
    background-color: white;
    border-radius: 0 0 6px 6px;
}

.Error {
    color: red;
}

@media (min-width: 600px) {
    .Overview ul li {
        width: 195px;
        height: 300px;
    }
}