.ContactData {
    margin: 60px auto;
    width: 80%;
    text-align: center;
    padding: 24px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fafafa;
    border-radius: 4px;
}

.SignInTitle{
    font-family: 'Avenir-Regular', sans-serif;
    color: #444;
    margin: 6px 6px 18px 6px;
}

@media (min-width: 600px) {
    .ContactData {
        width: 500px;
    }
}