.Dashboard {
    width: 100%;
    box-sizing: border-box;
}

.Dashboard ul {
    list-style: none;
}

.Dashboard ul li {
    position: relative;
    float: left;
    width: 100%;
    height: 500px;
    box-shadow: 0 2px 1px #ccc;
    border: none;
    margin: 35px 30px;
    padding: 0;
    background-color: white;
    border-radius: 0 0 6px 6px;
}

.Error {
    color: red;
}

@media (min-width: 600px) {
    .Dashboard ul li {
        width: 195px;
        height: 300px;
    }
}