@font-face {
        font-family: 'Avenir-Medium';
    src: url('../fonts/AvenirNext/avenir-next-medium.woff') format('woff');
}

@font-face {
    font-family: 'Avenir-Demi';
    src: url('../fonts/AvenirNext/avenir-next-demi.woff') format('woff');
}

@font-face {
    font-family: 'Avenir-Regular';
    src: url('../fonts/AvenirNext/avenir-next-regular.woff') format('woff');
}

@font-face {
    font-family: 'Avenir-Thin';
    src: url('../fonts/AvenirNext/avenir-next-thin.woff') format('woff');
}


@font-face {
    font-family: 'Avenir-Bold';
    src: url('../fonts/AvenirNext/avenir-next-bold.woff') format('woff');
}