.popupHolder{
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 24px;
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 10px;
    z-index: 200;
    position:absolute;
    margin-left: -350px;
    top:0;
    left: 50%;
    margin-top: 20px;
}

.itemForm{
    max-width: 700px;
    width: 700px;
    display: table;
}

.popupHolder form{
    padding: 0;
    margin: 0;
}