@import '../../../App';

.InputHolder {
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    font-size: 11pt;
    text-align:left;
    margin: 0px 0px 9px 0px;

    &.categorySelect,
    &.subCategorySelect{
        float:left;
        width: 50%;
    }


    .categorySelect {
        margin: 3px 0;
        float: left;
        width: 100%;
    }

    .subCategorySelect{
        margin: 3px 0 12px 15px;
        width: calc(100% - 15px);
        float: left;
    }

    .InputLabel{
        text-align: left;
        padding: 0;
        clear: both;
        display: block;
        margin-bottom:6px;
        margin-top:18px;
    }

    .CheckboxLabel,
    .RadioLabel{
        color: $input-label-color;
    }

    label{
        padding: 0 12px;
        color: $default-label-color;
    }

    &:first-child{
        label{
            display:none;
        }
    }
}





.Input.image-upload-input {
    flex: 1;
    flex-growth:1;
}

.InputElement {
    border: 1px solid $default-inout-border-color;
    background-color: #ffffff;
    margin: 0px;
    padding: 12px 14px;
    box-sizing: border-box;
    border-radius: 5px;;
    width: 100%;
    letter-spacing: 0.23px;
    color: $default-text-color;
    font-family: 'Avenir-Medium', sans-serif !important;
    font-size: 11pt;

    &.invalid {
        border: 1px solid red;
    }
}

.InputElement:focus {
    outline: none;
    background-color: #ffffff;
    border: 1px solid #a8adb3;
    border-radius: 5px;
    color: #444444;
}

.InputElement::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    letter-spacing: 0.23px;
    color: $default-placeholder-color;
    font-size: 14px;
    opacity: 1; /* Firefox */
}

.InputElement:-ms-input-placeholder { /* Internet Explorer 10-11 */
    letter-spacing: 0.23px;
    color: $default-placeholder-color;
    font-size: 14px;
}

.InputElement::-ms-input-placeholder { /* Microsoft Edge */
    letter-spacing: 0.23px;
    color: $default-placeholder-color;
    font-size: 14px;
}

.InputElement:focus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 11px;
    color: $default-text-color;
    letter-spacing: 0.18px;
    text-align: right;
    opacity: 1; /* Firefox */
}

.InputElement:focus:-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 1; /* Firefox */
    font-size: 11px;
    color: $default-text-color;
    letter-spacing: 0.18px;
    text-align: right;
}

.InputElement:focus::-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 1; /* Firefox */
    font-size: 11px;
    color: $default-text-color;
    letter-spacing: 0.18px;
    text-align: right;
}


.signup__select{
    height:43px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    //background: url('../../../assets/images/icons/dropdown-arrow.png') no-repeat 96% 50%;
}

.Invalid {
    border: 1px solid red;
    background-color: #FDA49A;
}

.UploadImageButton{
    border: none;
    width: 49px;
    height: 44px;
    color: gray;
    padding: 8px 20px;
    border-radius: 8px;
    fill: #ffffff;
}

.UploadImageButton ~ h5{
    margin:0;
}

.UploadImageButtonWrapper{
    position: absolute;
    top: 144px;
    left: calc(50% - 20px);
    overflow: hidden;
    display: inline-block;
    color: #ffffff;
}

.UploadImageButtonWrapper > .InputElement{
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.DropDown{
    outline: none;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0, 0.12);
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    border-radius: 4px;
    text-decoration: none;
    text-align: left;
    margin-right: 50%;
    margin: 3px 50% 0px 0;
    height:42px;
    text-indent:6px;
}

.DropDown div{
    border-top: none !important;
}

.DropDownItem{
    text-decoration: none;
    border:none;
    box-shadow:none;
    font-family: 'Avenir-Medium', sans-serif !important;
}

