.headerContainer {
    margin: 0;
    height: 72px;
    width: 100%;
    background-color: #ffffff;
}

.BrandLogo {
    float: left;
    margin-left: 24px;
    width: 36px;
    height: 36px;
    margin-top: 18px;
    color: #222222;
    text-decoration: none;
}

.BrandLogo img{
    width: 36px;
    height: 36px;
}

.navWrapper {
    list-style: none;

}

.navWrapper ul {
    margin: 11px 24px 12px 0;
    float: right;
    list-style: none;
}

.navWrapper ul > li {
    display: inline-block;
    margin: 4px 12px;
    text-decoration: none;
    font-size: 11pt;
}

.navWrapper ul > li > a,
.navWrapper ul > li span{
    text-decoration: none;
    font-size: 11pt;
    color: #464646;
}

.navWrapper ul > li > a:hover {
    color: #222222;
}

.HeaderShareLink{
    position: absolute;
    left: 90px;
    top:27px;
    font-family: 'Avenir-Medium';
    font-size: 11pt;
    text-decoration: none;
    color: #3cbd85;
}
