.AccountMenuList{
    list-style: none;
    width: 100%;
    margin: 0 !important;
    float: left !important;
    padding: 12px;
}

.AccountButton{
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 50%;
    width:42px;
    height: 42px;
    vertical-align: middle;
    outline:none;
}

.AccountDropDown{
    position: absolute;
    z-index: 999;
    border-radius:8px;
    background-color: #ffffff;
    padding:12px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.14);
}

.AccountDropDown ul{
    padding: 0;
    margin: 0 !important;
}

.AccountDropDown ul li{
    margin: 6px 0 !important;
}

.AccountDropDown ul li span{
    margin: 0;
}

.AccountDropDown div{
    border-top:none !important;
    font-family: 'Avenir-Medium', sans-serif !important;
}

