table{
  width:100%;
}

.mat-sort-header-container {
  align-items: center;
}

.items-container{
overflow:hidden;
}

.items-left-content-container{
  float:left;
  width: 100%;

  &.split{
    width: 50%;
  }
}


.items-right-content-container{
  float:left;
  width: 0;

  &.split{
    width: 50%;
  }
}
