<div class="items-container">
    <div class="items-left-content-container"
         [ngClass]="{split: itemShow === true}">
        <table mat-table [dataSource]="dataSource" matSort
               class="mat-elevation-z8">

            <!-- title Column -->
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Title
                </th>
                <td mat-cell *matCellDef="let item"><a (click)="onItemSelect(item)">{{item.title}}</a>
                </td>
            </ng-container>

            <!-- desc Column -->
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Description
                </th>
                <td mat-cell *matCellDef="let item"> {{item.description}}</td>
            </ng-container>

            <!-- active Column -->
            <ng-container matColumnDef="active">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Active
                </th>
                <td mat-cell *matCellDef="let item"> {{item.active}}</td>
            </ng-container>

            <!-- cat Column -->
            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Category
                </th>
                <td mat-cell *matCellDef="let item"> {{item.category}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons></mat-paginator>
    </div>
    <div class="items-right-content-container"
         [ngClass]="{split: itemShow === true}">
        <app-item></app-item>
    </div>
</div>