.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px 0 0 10px;
    font-weight: bold;
    font-size: 10pt;
    box-sizing: border-box;
    border-radius: 3px;
    min-width:100px;

}

.Button:disabled {
    cursor: not-allowed;
}

.Success {
    color: #ffffff;
    background-color: #3cbd85;
    border: 1px solid white;
}

.Danger {
    color: #fff;
    background-color: #e42727;
    border: 1px solid white;
}

.Cancel {
    color: #d6d6d6;
    background-color: #ffffff;
    border: 1px solid #d6d6d6;
}

.Green {
    background-color: #3cbd85;
    color: white;
    border-radius: 3px;
    padding: 12px 10px;
    margin: 0;
}

.White {
    background-color: white;
    color: darkgrey;
    border-radius: 3px;
    padding: 7px 10px;
    margin: 0;
}