@import '../../../assets/style/variables';
@import '../../../assets/style/aButton';

.signin-container{
  width: 400px;
  height:300px;
  text-align: center;
  position: absolute;
  left: calc(50% - 200px);
  top: calc(50% - 150px);
  border-radius: $card-border-radius-default;
  padding: 48px;

  button{
    float:right;
    margin: 12px 0;
  }

}

.signin-container-input-container{
  width:100%;
}

