<mat-card class="signin-container">
  <p>Sign In</p>
  <form [formGroup]="signinForm" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <mat-form-field class="signin-container-input-container" >
      <input matInput placeholder="Enter your Email" [formControlName]="'email'">
    </mat-form-field>
    <mat-form-field class="signin-container-input-container" >
      <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [formControlName]="'password'">
    </mat-form-field>
    <button mat-raised-button class="a-button form" type="submit" [disabled]="!f.valid">Sign In</button>
  </form>
</mat-card>
